body {
  margin: 0;
  padding: 0;
  font-family: "Batman", sans-serif;
  font-size: xxx-large;
  color: #05d9e8;
  background-color: #01012b;
}


@font-face {
  font-family: "Cynatar", sans-serif;
  src: local('Cynatar'), url('./Cynatar.otf')format('opentype');
}

@font-face {
  font-family: "Batman", sans-serif;
  src: local('Batman'), url('./batman.ttf')format('truetype');
}